.categoriesContainer
  display: grid
  grid-template-columns: repeat(6, 1fr)
  margin-bottom: 2rem

  .categoryBtn
    background: none
    border: none
    cursor: pointer

    &.Selected
      transform: scale(1.2)
      margin: 0 0.5rem
